
  <h4>商品一覧</h4>
<div class="main item-index">
  <% @items.each do |item| %>
  <%= link_to(item_path(item), class: 'list-content') do %>
     <div class="item-image">
          <img src="<%= item.image %>" width="100">
           <%= item.title %>
           <%= item.price %>
     </div>
    <% end %>
    <% end %>

</div>
<%= will_paginate @items %>
