

  <%= form_for @item do |f| %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :image %>
    <%= f.hidden_field :price %>
    <%= f.hidden_field :stock %>
    <%= f.hidden_field :description%>
  <% end %>

 <div class="actions">
 <input type="button" value="投稿画面へ戻る" onclick="history.back()">
 </div>
 <div class="actions">
 <input type="submit" value="送信する">
 </div>
