

 <%= form_for @cart_item, url: {action: "in"} do |f| %>
  <h2>商品詳細</h2>
  <div class="item-quantity">
      <strong>購入数</strong>
    <%= f.number_field :quantity,min:1,max:@item.stock,step:1 %> <br>
  </div>
  <div class="action">
   <%= f.submit '戻る', name: 'back' %>
   <%= f.submit '商品購入に進む' %>
  </div>
  <% end %>

  <div>
    <strong>商品名</strong>
    <p>
    <%= @item.title %>
    </p>
    <strong>商品画像</strong>
    <p>
    <img src="<%= @item.image %>" width="200">
    </p>
    <strong>価格</strong>
    <p>
   <%= @item.price %>
   </p>
   <strong>在庫数</strong>
    <p>
   <%= @item.stock %>
   </p>
   <strong>商品説明</strong>
    <p>
   <%= @item.description %>
   </p>
  </div>
