
<h3>カート確認画面</h3>


 <%= form_for @cart_item do |l| %>
 <div class="cart-info">
     <strong>購入数</strong>
    <%=l.quantity%>
    <strong>合計金額</strong>
    <%=l.all.sum(:price)%>
    <strong>小計</strong>
    <%=l.all.sum(:quantity)%>
 </div>
  <%= l.hidden_field :item_id, id:"#{item.id}"%>
  <%= l.submit "購入する" %>

 <div class="item_info">
   <strong>商品名</strong>
   <p>
   <%= l.title %>
   </p>
   <strong>商品画像</strong>
   <p>
   <img src="<%= l.image %>" width="200">
   </p>
   <strong>価格</strong>
   <p>
  <%= l.price %>
  </p>
  <strong>在庫数</strong>
   <p>
  <%= l.stock %>
  </p>
  <strong>商品説明</strong>
   <p>
  <%= l.description %>
   </div>


 <% end %>
