
<h3>カート確認画面</h3>

 <div class="cart_items-info">
   <% @cart_items.each do |item| %>
     <strong>購入数</strong>
    <%=item.quantity%>
    <strong>合計金額</strong>
    <%=item.all.sum(:price)%>
    <strong>小計</strong>
    <%=item.all.sum(:quantity)%>
   <% end %>
 </div>

 <div class="item_info">
   <% @items.each do |item| %>
   <strong>商品名</strong>
   <p>
   <%= @item.title %>
   </p>
   <strong>商品画像</strong>
   <p>
   <img src="<%= @item.image %>" width="200">
   </p>
   <strong>価格</strong>
   <p>
  <%= @item.price %>
  </p>
  <strong>在庫数</strong>
   <p>
  <%= @item.stock %>
  </p>
  <strong>商品説明</strong>
   <p>
  <%= @item.description %>
    <% end %>
 </div>

 <%= form_for(@cart) do |l| %>
   <%= l.hidden_field :item_id, id: "item_id_#{item.id}"%> コントローラでstatus変える処理をする
   <%= l.submit "購入する" %>
 <% end %>
