
  <h4>商品詳細</h4>
　商品画像<br>
  <img src="<%= @item.image %>" width="300"><br>
  商品名<br>
  <%= @item.title %><br>
  価格<br>
  <%= @item.price %><br>
  商品説明<br>
  <%= @item.description %><br>
  在庫数<br>
  <%= @item.stock %><br>

  <br>
  <br>
<%=link_to("購入に進む","/items/#{@item.id}/quantity")%>
