<!DOCTYPE html>
<html>
  <head>
    <title>Mercari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# ヘッダー部分を共通化して app/views/partial/_header.html.erb のコードを表示%>
    <% if user_signed_in? %>

    <header class="header">
      <nav class="nav">
        <ul class="header_menu">
          <li class="nav-link"><%=current_user.name%></li>
          <li class="header_menu_title"><%= link_to "メルカリ", "/", class: "nav-link" %></li>
          <li>
            <ul class="header_menu_inner">
              <%# リストを作成するリンクは今後開発していくので、今は"#"。 %>
              <li><%= link_to "出品", "/items/new", class: "nav-link listNew" %></li>
              <li><%= link_to "My page", "/users/mypage" %></li>
              <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <% end %>


    <!-- ==========ここからフラッシュメッセージ========== -->
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
  <!-- ==========ここまでがフラッシュメッセージ========== -->
    <%= yield %>
  </body>
</html>
